/* HEADER */
header {
  background-color: #074d72;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
}

.header-title {
  color: #fff;
  padding-left: 1em;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  text-transform: uppercase;
}

/* LIST VIEW */
#list-view {
  background-color: black;
  height: 100%;
  width: 300px;
  position: absolute;
  z-index: 100;
}

.list-view-item {
  margin-top: 10em;
  color: #fff;
}


/* MAP */
#map {
  height: 100%;
}
