/* BASE */
body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  font: 16px/1.7rem 'Open Sans', sans-serif;
  color: #ECEFF1;
}

h1, h2, h3, h4 {
  margin: 0;
}

header {
  background-color: #263238;
  padding: 1em;
}

.header-title {
  margin: 0 0 .2em 2.5em;
  font-size: 18px;
}

/* https://www.flaticon.com/free-icon/earth-globe_463553#term=world map&page=1&position=57 */
.header-logo {
  width: 34px;
  position: absolute;
  top: 12px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}


/* LIST-VIEW */
#list-view {
  position: absolute;
  top: 62.5px;
  left: 0;
  bottom: 0;
  background-color: #37474F;
  z-index: 10;
  height: 100%;
  max-width: 320px;
  width: 100%;
  padding: 1em;
  opacity: .9;
  transition: ease-in-out .3s;
  overflow-y: scroll;
}

#list-view:hover {
  opacity: 1;
}

#list-form {
  margin-top: 1em;
  border-bottom: 1px solid #B0BEC5;
  padding-bottom: 1em;
  display: inline-flex;
  flex-flow: row wrap;
}

.list-form-input {
  padding: .4em;
  border: none;
  border-radius: 4px;
  background-color: #ECEFF1;
  outline: none;
  margin-right: .4em;
}

.list-form-submit-btn {
  padding: .6em;
  border-radius: 4px;
  border: 1px solid #26A69A;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  transition: ease-in-out .3s;
  font-size: 14px;
  color: #26A69A;
}

.list-form-submit-btn:hover {
  border: 1px solid #80CBC4;
  color: #80CBC4;
}

.list-view-link {
  color: #26A69A;
  transition: ease-in-out .3s;
}

.list-view-link:hover {
  color: #80CBC4;
}

.list-view-section {
  text-transform: uppercase;
  color: #B0BEC5;
  margin-top: 1em;
}


/* MAP-VIEW */
#map {
  height: 100%;
}
